.Simple{
    width: 500px;
    height: 600px;
    background-color: darkorange;
    margin-top: 95px;
    margin-left: 280px;
    border-radius: 20px;

}
h1{
    text-align: center;
    padding-top: 25px;
}
label{
    font-size: large;
    text-align: center;
    margin-left: 170px;
}
input{
    margin-left: 150px;
    width: 200px;
    height: 30px;
}
button{
    width: 170px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    margin-left: 170px;
    font-size: xx-large;
    border-radius: 15px;
}