<div class="parent">
    <div class="left">
        <h1>DASHBOARD</h1>
        <hr>
        <h3 routerLink="Home">Home</h3>
        <h3 routerLink="Welcome">Welcome</h3>
        <h3 routerLink="Data Binding">Data Binding</h3>
        <h3 routerLink="Directives">Directives</h3>
        <h3 routerLink="Calculator">Calculator</h3>
        <h3 routerLink="Rectangle">Rectangle</h3>
        <h3 routerLink="Circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="Simple Interest">Simple Interest</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="account">Accounts</h3>
        <h3 routerLink="Flipcart-API">Flipcart-API</h3>
        
        
        
        <br>
        <hr>
        <button routerlink="/Login">LOGOUT</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div> 